In [9]:
import pandas as pd

In [48]:
result = pd.read_csv('result_2418.csv')

In [49]:
forecast_2018 = result[(result['year']==2018)&(result['data_type']=='biomass_forecast')]

In [50]:
biomass_demand_2018 = result[(result['year']==2018)&(result['data_type']=='biomass_demand_supply')]
pellet_demand_2018 = result[(result['year']==2018)&(result['data_type']=='pellet_demand_supply')]

In [51]:
forecast_2018['value'] = 1.2*forecast_2018['value'].round(2)
forecast_2018['year'] = 2019
pellet_demand_2018['value'] = 1.2*pellet_demand_2018['value'] 
biomass_demand_2018['value'] = 1.2*biomass_demand_2018['value']
pellet_demand_2018['year'] = 2019
biomass_demand_2018['year'] = 2019

C:\Users\olw04\AppData\Local\Temp\ipykernel_9004\4233153785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forecast_2018['value'] = 1.2*forecast_2018['value'].round(2)
C:\Users\olw04\AppData\Local\Temp\ipykernel_9004\4233153785.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forecast_2018['year'] = 2019
C:\Users\olw04\AppData\Local\Temp\ipykernel_9004\4233153785.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pellet_demand_2018['value'] = 1.2*pellet_demand_2018['value']
C:\Users\olw04\AppData\Local\Temp\ipykernel_9004\4233153785.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biomass_demand_2018['value'] = 1.2*biomass_demand_2018['value']
C:\Users\olw04\AppData\Local\Temp\ipykernel_9004\4233153785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pellet_demand_2018['year'] = 2019
C:\Users\olw04\AppData\Local\Temp\ipykernel_9004\4233153785.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biomass_demand_2018['year'] = 2019

In [52]:
concated_df = pd.concat([result,forecast_2018,pellet_demand_2018,biomass_demand_2018])

In [55]:
concated_df.groupby(['year','data_type']).agg('nunique')

                                source_index  destination  value
year     data_type
2018     biomass_demand_supply          2418         2418   1437
         biomass_forecast               2418            0   2418
         pellet_demand_supply           2418         2418     27
2019     biomass_demand_supply          2418         2418   1437
         biomass_forecast               2418            0   2238
         pellet_demand_supply           2418         2418     27
20182019 depot_location                   25            0      0
         refinery_location                 5            0      0

In [56]:
concated_df['value'] = concated_df['value'].round(2)

In [58]:
remove_index = concated_df[((concated_df['data_type']=='biomass_demand_supply')|(concated_df['data_type']=='pellet_demand_supply'))&(concated_df['value']<=0.001)].index

In [60]:
 concated_df.drop(index=remove_index).to_csv('sumbit_2.csv',index=False)

In [61]:
submitted = pd.read_csv('sumbit_2.csv')

In [62]:
sample = pd.read_csv('waste_management/dataset/sample_submission.csv')

In [78]:
sample.groupby(['year','data_type']).agg('nunique')

                                source_index  destination_index  value
year     data_type
2018     biomass_demand_supply          2418                 21  10823
         biomass_forecast               2418                  0   2418
         pellet_demand_supply             21                  4     76
2019     biomass_demand_supply          2418                 21  10823
         biomass_forecast               2418                  0   2418
         pellet_demand_supply             21                  4     76
20182019 depot_location                   21                  0      0
         refinery_location                 4                  0      0

In [75]:
submitted.dtypes

year              int64
data_type        object
source_index      int64
destination     float64
value           float64
dtype: object

In [76]:
sample.dtypes

year                   int64
data_type             object
source_index           int64
destination_index    float64
value                float64
dtype: object

In [62]:
submitted.groupby(['year','data_type']).agg('nunique')

                                source_index  destination  value
year     data_type
2018     biomass_demand_supply          1426           25   1408
         biomass_forecast               2418            0   2238
         pellet_demand_supply             25            5     18
2019     biomass_demand_supply          1426           25   1408
         biomass_forecast               2418            0   2238
         pellet_demand_supply             25            5     18
20182019 depot_location                   25            0      0
         refinery_location                 5            0      0

In [11]:
result_500 = pd.read_csv('result_500_3_2018.csv')
result_500.groupby(['year','data_type']).agg('nunique')

                                source_index  destination_index  value
year     data_type
2018     biomass_demand_supply           422                 25    445
         biomass_forecast                500                  0    500
         pellet_demand_supply             25                  5      1
20182019 depot_location                   25                  0      0
         refinery_location                 5                  0      0

In [250]:
res_18= pd.read_csv("waste_management/result_2418_3_2018.csv")
res_18['value'] = res_18['value'].round(2)
res_18.loc[res_18['data_type']=='biomass_forecast','value']+=0.01
# res_18.loc[selection criteria, columns I want] = value
res_18.groupby(['year','data_type']).agg('nunique')

                                source_index  destination_index  value
year     data_type
2018     biomass_demand_supply          1622                 14   1597
         biomass_forecast               2418                  0   2238
         pellet_demand_supply             14                  3      4
20182019 depot_location                   14                  0      0
         refinery_location                 3                  0      0

In [251]:
res_19[res_19['source_index']==215]

      year              data_type  source_index  destination_index  value
232   2019       biomass_forecast           215                NaN  89.15
2565  2019  biomass_demand_supply           215              382.0  89.14

In [252]:
res_19 = pd.read_csv("waste_management/result_2418_3_2019.csv")
res_19['value'] = res_19['value'].round(2)
res_19.loc[res_19['data_type']=='biomass_forecast','value']+=0.01
res_19.groupby(['year','data_type']).agg('nunique')

                                source_index  destination_index  value
year     data_type
2019     biomass_demand_supply          1622                 14   1597
         biomass_forecast               2418                  0   2238
         pellet_demand_supply             14                  3      4
20182019 depot_location                   14                  0      0
         refinery_location                 3                  0      0

In [253]:
submitted = pd.concat([res_18,res_19]).drop_duplicates()

In [254]:
# submitted.to_csv("submitt.csv",index=False)

In [255]:
pivot_df = pd.pivot_table(res_18, values = 'value', index=['data_type'], columns = 'source_index').T

In [256]:
pivot_df

data_type     biomass_demand_supply  biomass_forecast  pellet_demand_supply
source_index
0                               0.0              7.49                   NaN
1                               NaN             47.53                   NaN
2                               NaN             57.08                   NaN
3                               NaN             75.00                   NaN
4                               NaN             17.53                   NaN
...                             ...               ...                   ...
2413                            NaN              7.15                   NaN
2414                            NaN              0.16                   NaN
2415                            NaN              0.06                   NaN
2416                            NaN              1.71                   NaN
2417                            NaN              0.31                   NaN

[2418 rows x 3 columns]

In [257]:
pivot_df[pivot_df['biomass_forecast']<pivot_df['biomass_demand_supply']]

Empty DataFrame
Columns: [biomass_demand_supply, biomass_forecast, pellet_demand_supply]
Index: []

In [258]:
# submitted.rename(columns={'destination':'destination_index'}).to_csv('sumbit_2.csv',index=False)

In [259]:
res_18.groupby(['year','data_type','destination_index']).agg(sum)

                                              source_index    value
year data_type             destination_index
2018 biomass_demand_supply 346.0                     34522  19999.9
                           382.0                     39284  19999.9
                           756.0                     78021  19999.9
                           873.0                     84706  19999.9
                           1072.0                   183016  19999.9
                           1172.0                   101077  19999.9
                           1198.0                   138129  19999.9
                           1207.0                   122205  19999.9
                           1221.0                   157740  19999.9
                           1601.0                   160075  19999.9
                           1701.0                   115886  19999.9
                           1724.0                   226529  19999.9
                           1741.0                   250919  19999.9
                           1969.0                   205814  19999.9
     pellet_demand_supply  749.0                      5547  99999.9
                           1360.0                     7538  99999.9
                           1580.0                     7816  99999.9

In [260]:
res_19.groupby(['year','data_type','destination_index']).agg(sum)

                                              source_index    value
year data_type             destination_index
2019 biomass_demand_supply 346.0                     34522  19999.9
                           382.0                     39284  19999.9
                           756.0                     78021  19999.9
                           873.0                     84706  19999.9
                           1072.0                   183016  19999.9
                           1172.0                   101077  19999.9
                           1198.0                   138129  19999.9
                           1207.0                   122205  19999.9
                           1221.0                   157740  19999.9
                           1601.0                   160075  19999.9
                           1701.0                   115886  19999.9
                           1724.0                   226529  19999.9
                           1741.0                   250919  19999.9
                           1969.0                   205814  19999.9
     pellet_demand_supply  749.0                      5547  99999.9
                           1360.0                     7538  99999.9
                           1580.0                     7816  99999.9

In [261]:
submitted.to_csv('sub_cluster.csv',index=False)